.link{
    text-decoration: none;
    color: #fff;
}

.link:hover{

    text-decoration: underline;
    color: #fff;
}

.title{

    color: #fff;
    font-size: 25px;
}

.title:hover{
    color: #fff;
}
